node_modules
dist
build
coverage
logs
temp
score.yaml
src/*/node_modules
src/*/dist
src/*/build
src/*/coverage
src/*/logs
src/*/temp
.next
src/*/*/migrations
bun.lockb
opentelemetry-demo
.env
.dapr
prisma-client
dev.db
nexura.ts
.sdk
db/prisma-client
bun.lock
age-key.txt